<div class="row">
    <form action="/back" method="POST">
            <button class="btn waves-effect waves-light guild" type="submit" name="action"><i class="material-icons left">arrow_back</i>Back</button>
    </form>
    <h1 class="waves-effect">Edit</h1>
</div>
<h3 >{{guild.name}}</h3>