<h2>Servers</h2>

{{#if hyks.length}}
<ul class="row">
    {{#each hyks}}
        <li class="col s4">
            <form action="/edit" method="POST"> 
                <label class="guilds">
                    <input type="hidden" value="{{id}}" name="id">
                    <span>{{name}}</span>
                    <button class="btn waves-effect waves-light" type="submit" name="action">edit</button>
                </label>
           </form>
        </li>
    {{/each}}
</ul>
{{else}}
<p>Not connected</p>
{{/if}}